* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  max-width: 1920px;
  background-color: #f5f5f7cc;
}

main {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.titleHeader {
  width: 100%;
  max-width: 1920px;
  height: 100px;
  max-height: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
}

.titleHeaderTxt {
  width: 100%;
  max-width: 655px;
  height: 52px;
  min-height: auto;
  display: flex;
  gap: 32px;
  font-weight: 700;
  font-size: 44px;
}

.headingTxt {
  width: 100%;
  max-width: 129px;
  background-clip: border-box;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.moto {
  width: 100%;
  max-width: 494px;
  color: #6e6e73;
  margin: 0%;
}

.shoppingHelp {
  width: 226px;
  height: 100px;
}

.categoryIcons {
  width: 100%;
  max-width: 1896px;
  height: 146px;
  display: flex;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 80px;
  padding-bottom: 200px;
  gap: 12px;
}

.icon-Category {
  width: 136px;
  height: 146px;
  padding: 16px 8px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.icon-img {
  width: 120px;
  height: 78px;
}

.icon-Title {
  width: 120px;
  height: 20px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 768px) {
  .titleHeader {
    padding-left: 70px;
    padding-right: 70px;
  }

  .titleHeaderTxt {
    font-size: 28px;
    gap: 0;
  }

  .shoppingHelp {
    width: 135.6px;
    height: 60px;
  }
}

@media (max-width: 390px) {
}
