.gridPromoCards {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 12px;
  gap: 12px;
}

.cards {
  width: 49%;
  max-width: 942px;
  min-width: auto;
  height: 540px;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  padding: 40px;
  gap: 16px;
}

.ipad {
  background-image: url(./images/ipad-air.jpg);
}

.airpods {
  background-image: url(./images/airpods-pro.jpg);
  justify-content: flex-end;
}

.iwatch {
  background-image: url(./images/iwatch.jpg);
}

.macbook {
  background-image: url(./images/macbook-air.jpg);
}

.trade-in {
  background-image: url(./images/trade-in.jpg);
}

.card {
  background-image: url(./images/card.jpg);
}

.gradient {
  background-clip: border-box;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  -webkit-background-clip: text;
  color: transparent;
  padding-top: 300px;
}

.logoTitle {
  display: flex;
  gap: 12px;
}

.btnEstimate {
  width: 167px;
  height: 40;
}

@media (max-width: 768px) {
}

@media (max-width: 390px) {
  .cards {
    min-width: 366px;
  }
}
